p{
    color: green;
    text-align: center;
    font-size:36px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Lumanosimo', cursive;
    text-transform: uppercase;
    word-spacing: 90px;
    letter-spacing: -2px;
    line-height: 10px;
    text-decoration: line-through;
}